body {
    margin: 0;
}
#app-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#snap-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
#snap {
    background-color: white;
    border: 3px solid gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
    transition: color 200ms ease-out;
    cursor: pointer;
}
#snap:hover {
    background-color: rgb(220, 220, 220);
}